@model (List<TP_2laba.Models.ExpertiseDepartment> departments, int? currentId, bool showActions)
<table class="table">
    <thead>
        <tr>
            <th>Название отдела</th>
            @if (Model.showActions)
            {
                <th>Действия</th>
            }
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.departments.Count; i++)
    {
        var isCurrent = (Model.currentId != null && Model.departments[i].Id == Model.currentId);
        <tr class="@(isCurrent ? "table-success" : "")">
            <td>
                @Model.departments[i].Name
                @if (isCurrent)
                {
                    <span class="badge bg-success ms-2">Текущий</span>
                }
            </td>
            @if (Model.showActions)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.departments[i].Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@Model.departments[i].Id">Подробнее</a> |
                    <a asp-action="Index" asp-route-currentId="@Model.departments[i].Id">Сделать текущим</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table> 